*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.dvi
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

.DS_Store
.Spotlight-V100
.TemporaryItems
.Trashes
._*
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
$RECYCLE.BIN/

*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.sql
*.sqlite

__pycache__/
.venv/
venv/
node_modules/
.idea/
*.sublime-workspace
